<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>926211532396-cqq6smhtkd8a4m883bu3s7pkeai6ifvr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.926211532396-cqq6smhtkd8a4m883bu3s7pkeai6ifvr</string>
	<key>API_KEY</key>
	<string>AIzaSyDKGOZYphilEATQ7GKwH2iyGL1Xnr7zVfA</string>
	<key>GCM_SENDER_ID</key>
	<string>926211532396</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kraftic.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-6b5dc</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-6b5dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926211532396:ios:9b44190f8df62dcf</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-6b5dc.firebaseio.com</string>
</dict>
</plist>